In [4]:
import pandas as pd

In [9]:
# df (data frame)
df = pd.read_csv("data_banknote_authentication.txt", delimiter=",", header=None)
display(df)

            0         1        2        3  4
0     3.62160   8.66610  -2.8073 -0.44699  0
1     4.54590   8.16740  -2.4586 -1.46210  0
2     3.86600  -2.63830   1.9242  0.10645  0
3     3.45660   9.52280  -4.0112 -3.59440  0
4     0.32924  -4.45520   4.5718 -0.98880  0
...       ...       ...      ...      ... ..
1367  0.40614   1.34920  -1.4501 -0.55949  1
1368 -1.38870  -4.87730   6.4774  0.34179  1
1369 -3.75030 -13.45860  17.5932 -2.77710  1
1370 -3.56370  -8.38270  12.3930 -1.28230  1
1371 -2.54190  -0.65804   2.6842  1.19520  1

[1372 rows x 5 columns]

In [10]:
print(df.size)

6860

In [12]:
print(df.shape)

(1372, 5)

In [17]:
print(df.iloc[3])

0    3.4566
1    9.5228
2   -4.0112
3   -3.5944
4    0.0000
Name: 3, dtype: float64

In [24]:
Data = df.iloc[:,:4]
display(Data)

            0         1        2        3
0     3.62160   8.66610  -2.8073 -0.44699
1     4.54590   8.16740  -2.4586 -1.46210
2     3.86600  -2.63830   1.9242  0.10645
3     3.45660   9.52280  -4.0112 -3.59440
4     0.32924  -4.45520   4.5718 -0.98880
...       ...       ...      ...      ...
1367  0.40614   1.34920  -1.4501 -0.55949
1368 -1.38870  -4.87730   6.4774  0.34179
1369 -3.75030 -13.45860  17.5932 -2.77710
1370 -3.56370  -8.38270  12.3930 -1.28230
1371 -2.54190  -0.65804   2.6842  1.19520

[1372 rows x 4 columns]

In [27]:
Data = Data.to_numpy()
display(Data)

array([[  3.6216 ,   8.6661 ,  -2.8073 ,  -0.44699],
       [  4.5459 ,   8.1674 ,  -2.4586 ,  -1.4621 ],
       [  3.866  ,  -2.6383 ,   1.9242 ,   0.10645],
       ...,
       [ -3.7503 , -13.4586 ,  17.5932 ,  -2.7771 ],
       [ -3.5637 ,  -8.3827 ,  12.393  ,  -1.2823 ],
       [ -2.5419 ,  -0.65804,   2.6842 ,   1.1952 ]])

In [29]:
type(Data)

numpy.ndarray

In [25]:
Label = df.iloc[:,4]
display(Label)

0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: 4, Length: 1372, dtype: int64

In [30]:
type(Label)

pandas.core.series.Series

In [31]:
Label = Label.to_numpy()
print(type(Label))

<class 'numpy.ndarray'>

In [33]:
display(Label)

array([0, 0, 0, ..., 1, 1, 1], dtype=int64)