Take three numbers from user  
then arrange them in ascending or desending order

In [5]:
num1 = int(input("Enter number1: "))
num2 = int(input('Enter number2: '))
num3 = int(input('Enter number3: '))

if num1==num2 or num1==num3 or num2==num3:
    num1 = int(input("Enter number1: "))
    num2 = int(input('Enter number2: '))
    num3 = int(input('Enter number3: '))

if num1>num2 and num1>num3:
    if num2>num3:
        print("{} > {} > {}".format(num1, num2, num3))
    else:
        print("{} > {} > {}".format(num1, num3, num2))

elif num2>num1 and num2>num3:
    if num1>num3:
        print("{} > {} > {}".format(num2, num1, num3))
    else:
        print("{} > {} > {}".format(num2, num3, num1))

else:
    if num1>num2:
        print("{} > {} > {}".format(num3, num1, num2))
    else:
        print("{} > {} > {}".format(num3, num2, num1))

Enter number1: 5
Enter number2: 8
Enter number3: 5
Enter number1: 9
Enter number2: 8
Enter number3: 7
9 > 8 > 7

In [19]:
# in
# string in iterator
print("7" in "127")
print("8" in "127")
print(2 == 2)

True
False
True

# Loops  

1. for loop  
2. while loop

In [18]:
for i in range(5, 11):
    print(i)

5
6
7
8
9
10

In [21]:
for i in range(0, 10, 3):
    print(i)

0
3
6
9

In [23]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [27]:
# 5 x 1 = 5
# 5 x 2 = 10
# ....
# 5 x 10 = 50

for i in range(1, 11):
    print("5 x {} = {}".format(i, i*5))

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [29]:
x = int(input('Enter number for table: '))
for i in range(1, 11):
    print("{} x {} = {}".format(x, i, x*i))

Enter number for table: 55
55 x 1 = 55
55 x 2 = 110
55 x 3 = 165
55 x 4 = 220
55 x 5 = 275
55 x 6 = 330
55 x 7 = 385
55 x 8 = 440
55 x 9 = 495
55 x 10 = 550

# Task  
take a number from user to print the table  
take range of table from user

# Data Structure
List: hetrogenous data and mutable

In [30]:
l = []
print(type(l))

<class 'list'>

In [31]:
l = [1,2,3,4,5,6,'a', 'b', 'c', 5.5]
print(l)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 5.5]

In [32]:
fruits = ['mango', 'apple', 'orange', 'grapes', 'banana']
print(len(fruits))

5

   0         1        2          3        4  
['mango', 'apple', 'orange', 'grapes', 'banana']
  -5        -4         -3           -2          -1

In [36]:
# getting values by index is called indexing
print(fruits[4])
print(fruits[-1])
print(fruits[0])
print(fruits[1])
print(fruits[2])

banana
banana

In [38]:
for i in range(5):
    print(fruits[i])

mango
apple
orange
grapes
banana

In [57]:
# Slicing
# print(fruits[0], fruits[1])
print(fruits[0:5:2])
print(fruits[4:1:-1])
print(fruits[:])
print(fruits[3:])
print(fruits[:3])
print(fruits[::-1])
print(fruits[-2])
print(fruits[3])

['mango', 'orange', 'banana']
['banana', 'grapes', 'orange']
['mango', 'apple', 'orange', 'grapes', 'banana']
['grapes', 'banana']
['mango', 'apple', 'orange']
['banana', 'grapes', 'orange', 'apple', 'mango']
grapes
grapes

In [60]:
print(fruits)
fruits.append("guava")
print(fruits)

['mango', 'apple', 'orange', 'grapes', 'banana']
['mango', 'apple', 'orange', 'grapes', 'banana', 'guava']

In [61]:
fruits.append("berris")
print(fruits)

['mango', 'apple', 'orange', 'grapes', 'banana', 'guava', 'berris']

In [62]:
fruits[-1] = 'berries'
print(fruits)

['mango', 'apple', 'orange', 'grapes', 'banana', 'guava', 'berries']

In [65]:
fruits.insert(5, "abc")

In [66]:
print(fruits)

['abc', 'mango', 'apple', 'orange', 'grapes', 'abc', 'banana', 'guava', 'berries']

In [67]:
fruits.insert(7, 'xyz')
print(fruits)

['abc', 'mango', 'apple', 'orange', 'grapes', 'abc', 'banana', 'xyz', 'guava', 'berries']

In [69]:
fruits.insert(, 'xyz')
print(fruits)

SyntaxError: invalid syntax (<ipython-input-69-120a0b68e9d0>, line 1)

In [70]:
# "a", "b", "c", "d", "e"
values = ['a', 'b', 'c', 'd', 'e']
fruits.append(values)
print(fruits)

['abc', 'mango', 'apple', 'orange', 'grapes', 'abc', 'banana', 'xyz', 'guava', 'berries', ['a', 'b', 'c', 'd', 'e']]

In [71]:
fruits.extend(values)
print(fruits)

['abc', 'mango', 'apple', 'orange', 'grapes', 'abc', 'banana', 'xyz', 'guava', 'berries', ['a', 'b', 'c', 'd', 'e'], 'a', 'b', 'c', 'd', 'e']

In [74]:
fruits.extend((2,3,4,5))

In [75]:
print(fruits)

['abc', 'mango', 'apple', 'orange', 'grapes', 'abc', 'banana', 'xyz', 'guava', 'berries', ['a', 'b', 'c', 'd', 'e'], 'a', 'b', 'c', 'd', 'e', 2, 3, 4, 5]

In [76]:
n = fruits.copy()
print(n)

['abc', 'mango', 'apple', 'orange', 'grapes', 'abc', 'banana', 'xyz', 'guava', 'berries', ['a', 'b', 'c', 'd', 'e'], 'a', 'b', 'c', 'd', 'e', 2, 3, 4, 5]

In [77]:
n.clear()
print(n)

[]

In [79]:
print(fruits)
print(fruits.index('xyz'))

['abc', 'mango', 'apple', 'orange', 'grapes', 'abc', 'banana', 'xyz', 'guava', 'berries', ['a', 'b', 'c', 'd', 'e'], 'a', 'b', 'c', 'd', 'e', 2, 3, 4, 5]
7

In [81]:
fruits.remove("abc")

In [82]:
print(fruits)

['mango', 'apple', 'orange', 'grapes', 'abc', 'banana', 'xyz', 'guava', 'berries', ['a', 'b', 'c', 'd', 'e'], 'a', 'b', 'c', 'd', 'e', 2, 3, 4, 5]

In [84]:
print(fruits.index('xyz'))
del fruits[6]
print(fruits)

6
['mango', 'apple', 'orange', 'grapes', 'abc', 'banana', 'guava', 'berries', ['a', 'b', 'c', 'd', 'e'], 'a', 'b', 'c', 'd', 'e', 2, 3, 4, 5]

In [85]:
fruits.pop()
print(fruits)

['mango', 'apple', 'orange', 'grapes', 'abc', 'banana', 'guava', 'berries', ['a', 'b', 'c', 'd', 'e'], 'a', 'b', 'c', 'd', 'e', 2, 3, 4]

In [89]:
print(fruits)

['mango', 'apple', 'orange', 'grapes', 'abc', 'guava', 'berries', ['a', 'b', 'c', 'd', 'e'], 'a', 'b', 'c', 'd', 'e', 2, 3]

In [88]:
a = fruits.pop(5)
print(a)

banana

In [92]:
print(fruits.count('apple'))

1

In [97]:
fruits.reverse()
print(fruits)

[3, 2, 'e', 'd', 'c', 'b', 'a', ['a', 'b', 'c', 'd', 'e'], 'berries', 'guava', 'abc', 'grapes', 'orange', 'apple', 'mango']

In [98]:
l = [1,3,5,2,4,9,7,8,6,0]
l.sort()
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
l.sort(reverse=True)
print(l)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]