In [5]:
print("Hello World2", 12, 5.89)

Hello World2 12 5.89

In [6]:
print("i AM IN HAZARA UNIVERSITY")

i AM IN HAZARA UNIVERSITY

In [11]:
print("i am\nIkhlas")
print("i am\tIkhlas")
print("i am\b Ikhlas")
print('i am "ikhlas"')

i am
Ikhlas
i am	Ikhlas
i am Ikhlas
i am "ikhlas"

In [21]:
print("hello world", 12, 5.8, "Good", sep="\n")

hello world125121255.8125Good

In [26]:
print(1, end="")
print(2)
print(3)

12
3

In [29]:
name = "ikram"
print(name)
name = 1
print(name)
name = 1.5
print(name)

ikram
1
1.5

In [40]:
name = "ikram"
age = 22
print("ikram" + " " + "22")

ikram 22

In [53]:
print("Enter your name:")
name = input()
print("Enter your age:")
age = int(input())
# printing
print( "Your name is: " +  name + "\nand age is: " + str(age))

Enter your name:
ikram
Enter your age:
22
Your name is: ikram
and age is: 22

In [2]:
name = input("Enter you name: ")
age = int(input("Enter your age: "))
print("Your name is: " +  name + "\nand age is: " + str(age))

Enter you name: ikram
Enter your age: 22
Your name is: ikram
and age is: 22

# .format

In [19]:
name = input("Enter you name: ")
age = int(input("Enter your age: "))
print("Your name is: {}\nand your age is: {}".format(name, age))
print(f"Your name is: {name} and your age is: {age}")

Enter you name: ikram
Enter your age: 22
Your name is: ikram
and your age is: 22
Your name is: ikram and your age is: 22

# int(for converting into integer)
# float(for converting into float)
# str(for converting into str)

In [16]:
x = "1"
print(x)

1

# Comments

In [20]:
# this is a comment

SyntaxError: invalid syntax (<ipython-input-1-3eb7b0554acb>, line 2)