In [4]:
print('printed 123 456')
print("prInted")
print("i am in ", "Mansehra", " 12345765798792498")

printed 123 456
prInted
i am in  Mansehra  12345765798792498

Data types in python
1: int----------- 0-9
2: float -------- 0.0 - 9.0         56.9
3: char ---------- a, b, y
4: string --------- ikhlas, mansehra


int x;
x=10;

float x;
x=7.9;

char

In [8]:
x = 10
print("x")
print(y)
print(x)

x

NameError: name 'y' is not defined

In [12]:
# type()
print(type(x))
y = "10.5"
print(type(y))
z = 10.5
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [20]:
## Variable names
name = "ikhlas"
print(name)
na2me45335 = "ikhlas"
print(na2me45335)
my_name = 'ikhlas'
_name = 'junaid'
print(_name)
Name = 'ikhlas'

ikhlas
ikhlas
junaid

In [22]:
name = "Ikhlas"
Name = 'Ahmad'
print(name)
print(Name)

Ikhlas
Ahmad

In [25]:
name = 'Ikhlas Ahmad'
print("Your name is: ", name)

Your name is:  Ikhlas Ahmad

In [28]:
age = 22
print(name, " age is: ", age, ' years')

Ikhlas Ahmad  age is:  22  years

In [6]:
# input()
print("Enter your name:")
name = input()
print("Enter your age: ")
age = input()
print("Your name is ", name)
print("Your age is ", age)
print()
print(name, " your age is ", age, " years")

Enter your name:
ikhlas
Enter your age:
22
Your name is  ikhlas
Your age is  22

ikhlas  your age is  22  years

ikhlas your age is 22 years

In [ ]:
# ikhlas
# ahmad
# studying